<h2>Categoria</h2>

@foreach (var prodotti in Model)
{
<div>
    <strong>@prodotti.Nome</strong>
</div>  
<div>
    <th>@prodotti.Prezzo</th>
</div>
<div>
    <th>@prodotti.CategoriaNome</th>
</div>
}
