<form method="get" asp-page="ProdottoRecente" class="d-flex">
<input type="text" name="q" class="form-control me-2" placeholder="Più recente"
value="@Context.Request.Query["q"]" />
<button type="submit"class="btn btn-outline">Cerca</button>
</form>