@page
@model DashboardModel

@{
    ViewData["Title"] = "Dashboard";
}
<h1 class="mb-4">@ViewData["Title"]</h1>
<div class="row">
    <div class="col-3">
        <partial name="_ProdottiCostosi" model="Model.ProdottoCostoso">
    </div>

   <div class="col-3">
        <partial name="_ProdottiEconomici" model="Model.ProdottoEconomico">
    </div>

    <div class="col-3">
        <partial name="_ProdottiRecenti" model="Model.ProdottoRecente">
    </div>

    <div class="col-3">
        <partial name="_CategoriaScelta" model="Model.SceltaCategoria">
    </div>
  
</div>