@page
@model DeleteModel
@{
    ViewData["Title"] = "Delete";
    //creiamo in ViewData una chiave che salvala pagina di provenienza, tramite il Referer della request
    //il Referer è l indirizzo della pagina che ha fatto la richiesta
    //mi occorre l'url in formato stringa per poterlo passare poi al bottone di ritorno 
    ViewData["ReurnUrl"] = Request.Headers["Referer"].ToString();
}
<h1>@ViewData["Title"]Elimina Prodotto</h1>

<form method="post">
<input  type="hidden" asp-for="Prodotto.Id" />
    
    <button type= "submit" class="btn btn-primary my-3">Elimina</button>
    <a asp-page="Prodotti"class="btn btn-secondary">Annulla</a>

</form>
