@page
@model PageIndexModel
@using Microsoft.AspNetCore.Mvc.Routing;
@using _37_webApp_Sql.Utilities
@{
    ViewData["Title"] = "Prodotti Paginati";
    //Configuriamo il modello per la paginazione.
    var paginationModel = new PaginationModel
    {  
        PageIndex = Model.Products.PageIndex,
        TotalPages = Model.Products.TotalPages,
        PageUrl = page => Url.Page("PageIndex", new {pageIndex=page })


    };
}
<h1>Prodotti Paginati</h1>
<table class="table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Prezzo</th>
            <th>Categoria</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var prodotto in Model.Products)
        {
            <tr>
                <td>@prodotto.Nome</td>
                <td>@PriceFormatter.Format(prodotto.Prezzo)</td>
                <td>@prodotto.CategoriaNome</td>
            </tr>
        }
    </tbody>
</table>
@await Html.PartialAsync("_Pagination", paginationModel)